spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/music?characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    type: com.mchange.v2.c3p0.ComboPooledDataSource
  mail:
    host: smtp.qq.com
    username: 123@test.com
    password: test
    properties:
          mail:
              smtp:
                  auth: ture
                  starttls:
                    enable: true
                    required: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 50MB
mybatis:
  mapper-locations: classpath:mapper/*.xml

pagehelper:
  helper-dialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

mapper:
  package:
    path: com.music.music.dao
  xml:
    config:
      path: /mapper/*.xml

minio:
  # Minio server addr
  address: http://127.0.0.1:9000
  # MINIO_ACCESS_KEY
  access-key: minioadmin
  # MINIO_SECRET_KEY
  secret-key: minioadmin
  # default bucket
  default-bucket: musicfile


