<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zchzh.music.dao.AlbumTbMapper">
    <resultMap id="BaseResultMap" type="org.zchzh.music.entity.AlbumTb">
        <id column="album_id" property="albumId" jdbcType="INTEGER" />
        <id column="singer_id" property="singerId" jdbcType="INTEGER" />
        <id column="album_name" property="albumName" jdbcType="VARCHAR" />
        <id column="company_name" property="companyName" jdbcType="VARCHAR" />
        <id column="album_intro" property="albumIntro" jdbcType="VARCHAR" />
        <id column="album_img" property="albumImg" jdbcType="VARCHAR" />
        <id column="issue_time" property="issueTime" jdbcType="TIMESTAMP" />
        <id column="comment_number" property="commentNumber" jdbcType="INTEGER" />
        <id column="play_number" property="playNumber" jdbcType="INTEGER" />
        <id column="share_number" property="shareNumber" jdbcType="INTEGER" />
    </resultMap>
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="albumId"
            keyColumn="album_id" parameterType="org.zchzh.music.entity.AlbumTb">
        INSERT INTO album_tb(album_name,company_name,album_intro,album_img,singer_id)
        VALUES
        (#{albumName},#{companyName},#{albumIntro},#{albumImg},#{singerId})
    </insert>

    <select id="findBySingerIdSortIssueTime" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM album_tb
        WHERE singer_id=#{singerId}
        ORDER BY issue_time
        DESC
    </select>

    <select id="findBySingerId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM album_tb
        WHERE singer_id=#{singerId}
    </select>

    <select id="findByAlbumId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM album_tb
        WHERE album_id=#{albumId}
    </select>

    <select id="findByCompanyName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM album_tb
        <where>
            <if test="_parameter!=null">
                company_name LIKE '%${_parameter}%'
            </if>
        </where>
    </select>

    <select id="searchByAlbumName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM album_tb
        <where>
            <if test="_parameter!=null">
                album_name LIKE '%${_parameter}%'
            </if>
        </where>
    </select>

    <select id="findSortPlayNumberAndIssueTime" resultMap="BaseResultMap">
        SELECT *
        FROM album_tb
        ORDER BY play_number DESC ,issue_time DESC
    </select>

    <select id="findSortIssueTime" resultMap="BaseResultMap" parameterType="java.util.Date">
        SELECT *
        FROM album_tb
        WHERE issue_time>=#{issueTime}
        ORDER BY issue_time DESC
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT *
        FROM album_tb
    </select>

    <update id="updateOne" parameterType="org.zchzh.music.entity.AlbumTb">
        UPDATE album_tb
        <set>
            singer_id=#{singerId},album_name=#{albumName},company_name=#{companyName},
            album_intro=#{albumIntro},album_img=#{albumImg},issue_time=#{issueTime},
            comment_number=#{commentNumber},play_number=#{playNumber},share_number=#{shareNumber}
        </set>
        WHERE album_id = #{albumId}
    </update>

</mapper>