<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zchzh.music.dao.AttentionTbMapper">

    <resultMap id="BaseResultMap" type="org.zchzh.music.entity.AttentionTb">
        <id column="attention_id" property="attentionId" jdbcType="INTEGER" />
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <id column="user_attention_id" property="userAttentionId" jdbcType="INTEGER" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM attention_tb
        WHERE user_id=#{userId}
    </select>

    <select id="findByAttentionId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM attention_tb
        WHERE attention_id=#{attentionnId}
    </select>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="attentionId"
            keyColumn="attention_id" parameterType="org.zchzh.music.entity.AttentionTb">
        INSERT INTO
        attention_tb(user_id,user_attention_id,create_time)
        VALUES
        (#{userId},#{userAttentionId},#{createTime})
    </insert>

    <delete id="deleteByAttentionId">
        DELETE FROM attention_tb
        WHERE attention_id=#{attentionId}
    </delete>

    <update id="updateByAttentionId" parameterType="org.zchzh.music.entity.AttentionTb">
        UPDATE attention_tb
        <set>
            user_id=#{userId},user_attention_id=#{attentionId},create_time=#{createTime}
        </set>
        WHERE attention_id=#{attentionId}
    </update>

    <select id="findByUserIdAndUserAttentionId" resultMap="BaseResultMap">
        SELECT *
        FROM attention_tb
        WHERE user_id=#{arg0} AND user_attention_id=#{arg1}
    </select>

</mapper>