<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicweb.music.dao.CommentAdmireTbMapper">

    <resultMap id="BaseResultMap" type="com.musicweb.music.entity.CommentAdmireTb">
        <id column="comment_admire_id" property="commentAdmireId" jdbcType="INTEGER" />
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <id column="comment_id" property="commentId" jdbcType="INTEGER" />
        <id column="comment_type" property="commentType" jdbcType="INTEGER" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="commentAdmireId"
            keyColumn="comment_admire_id" parameterType="com.musicweb.music.entity.CommentAdmireTb">
        INSERT INTO
        comment_admire_tb(user_id,comment_id,comment_type,create_time)
        VALUES
        (#{userId},#{commentId},#{commentType},#{createTime})
    </insert>

    <delete id="deleteById">
        DELETE FROM
        comment_admire_tb
        WHERE comment_admire_id=#{commentAdmireId}
    </delete>

    <select id="findByCommentType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * FROM
        comment_admire_tb
        WHERE comment_type=#{commentType}
    </select>
</mapper>