<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicweb.music.dao.SingerTbMapper">
    <resultMap id="BaseResultMap" type="com.musicweb.music.entity.SingerTb">
        <id column="singer_id" property="singerId" jdbcType="INTEGER" />
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <id column="singer_name" property="singerName" jdbcType="VARCHAR" />
        <id column="singer_img" property="singerImg" jdbcType="VARCHAR" />
        <id column="singer_one_intro" property="singerOneIntro" jdbcType="VARCHAR" />
        <id column="singer_intro" property="singerIntro" jdbcType="VARCHAR" />
        <id column="singer_type" property="singerType" jdbcType="INTEGER" />
        <id column="gender" property="gender" jdbcType="INTEGER" />
        <id column="initial" property="initial" jdbcType="VARCHAR" />
        <id column="popularity" property="popularity" jdbcType="INTEGER" />
    </resultMap>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="singerId"
            keyColumn="singer_id" parameterType="com.musicweb.music.entity.SingerTb">
        INSERT INTO
        singer_tb(user_id,singer_name,singer_img,singer_one_intro,singer_intro,gender,initial)
        VALUES
        (#{userId},#{singerName},#{singerImg},#{singerOneIntro},#{singerIntro},#{gender},#{initial})
    </insert>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT *
        FROM singer_tb
        ORDER BY popularity
    </select>

    <select id="findAllInSinger" resultMap="BaseResultMap">
        SELECT *
        FROM singer_tb 
        WHERE
        user_id IS NOT NULL
    </select>

    <select id="findByType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM singer_tb
        WHERE
        singer_type=#{singerType}
        ORDER BY popularity
    </select>

    <select id="findByTypeAndInitial" resultMap="BaseResultMap">
        SELECT *
        FROM singer_tb
        WHERE
        singer_type=#{arg0} AND initial=#{arg1}
        ORDER BY popularity
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM singer_tb
        WHERE singer_id=#{singerId}
    </select>

    <select id="searchBySingerName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM singer_tb
        <where>
            <if test="_parameter!=null">
                singer_name LIKE '%${_parameter}%'
            </if>
        </where>
    </select>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM singer_tb
        WHERE user_id=#{userId}
    </select>

</mapper>